version: '3.8'

services:
  cyford-security:
    build:
      context: ../../
      dockerfile: system/live/Dockerfile
    container_name: CLI-Security
    hostname: security.cyford.local
    volumes:
      - ../../:/opt/cyford/security
      - ../../.env:/opt/cyford/security/.env
      - /opt/cyford/security/vendor
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker:ro
      - /var/spool/postfix:/var/spool/postfix
      - /etc/postfix:/etc/postfix
      - /var/log:/var/log
      - /etc/fail2ban:/etc/fail2ban
      - /usr/bin/firewall-cmd:/usr/bin/firewall-cmd:ro
      - /usr/bin/fail2ban-client:/usr/bin/fail2ban-client:ro
      - /usr/bin/systemctl:/usr/bin/systemctl:ro
      - /run/systemd:/run/systemd:ro
      - /var/run/dbus:/var/run/dbus:ro
    environment:
      - DOCKER_ENV=true
    privileged: true
    network_mode: host
    restart: unless-stopped

#  postfix-integration:
#    image: alpine:latest
#    container_name: postfix-integration
#    command: tail -f /dev/null
#    volumes:
#      - postfix_spool:/var/spool/postfix
#    networks:
#      - cyford-network

networks:
  cyford-network:
    driver: bridge